dnl List of all makefiles for this project						-*- autoconf -*-
AC_CONFIG_FILES([projects/ZFPTool/Makefile
		projects/ZFPTool/src/Makefile
		projects/ZFPTool/tests/Makefile])

AC_MSG_CHECKING([whether ZFPTool project prerequisites are satisfied])
AC_MSG_RESULT([yes])
rose_enable_project_ZFPTool=yes

AM_CONDITIONAL([ROSE_ENABLE_PROJECT_SCALARIZATION], [test "$rose_enable_project_ZFPTool" = yes])
