[submodule "src/frontend/CxxFrontend/EDG"]
	path = src/frontend/CxxFrontend/EDG
	url = git@github.com:tristanvdb/rose-edg.git
[submodule "projects/vulnerabilitySeeding"]
	path = projects/vulnerabilitySeeding
	url = rose-dev@rosecompiler1.llnl.gov:rose/vulnerabilitySeeding.git
