[submodule "src/frontend/CxxFrontend/EDG"]
	path = src/frontend/CxxFrontend/EDG
	url = rose-dev@rosecompiler1.llnl.gov:rose/edg4x/edg
[submodule "projects/vulnerabilitySeeding"]
	path = projects/vulnerabilitySeeding
	url = ssh://charles4@tuxblue6/nfs/casc/overture/ROSE/git/vulnerabilitySeeding.git
