dnl List of all makefiles for this project						-*- autoconf -*-
AC_CONFIG_FILES([projects/CodeThorn/Makefile
		projects/CodeThorn/src/Makefile])

AC_MSG_CHECKING([whether CodeThorn project prerequisites are satisfied])
AC_MSG_RESULT([yes])
rose_enable_project_CodeThorn=yes

AM_CONDITIONAL([ROSE_ENABLE_PROJECT_CODETHORN], [test "$rose_enable_project_CodeThorn" = yes])
