// vim: syn=cpp:

#include "rose.h"
#include "paletteCommon.h"

struct PaletteStuff {
@@@@@
};

int main(int, char**) {
  PaletteStuff s;
  Palette::Timer t("Query");
  s.paletteMain();
  return 0;
}
