dnl List of all makefiles for this project							-*- autoconf -*-
AC_CONFIG_FILES(projects/MatlabTranslation/Makefile)
AC_CONFIG_FILES(projects/MatlabTranslation/src/Makefile)
AC_CONFIG_FILES(projects/MatlabTranslation/tests/Makefile)

AC_CONFIG_FILES([projects/MatlabTranslation/M2Cxx.sh:projects/MatlabTranslation/M2Cxx.sh], [chmod ugo+x projects/MatlabTranslation/M2Cxx.sh])
AC_CONFIG_FILES([projects/MatlabTranslation/support/armadillo/builtins.h:projects/MatlabTranslation/support/armadillo/builtins.h])
AC_CONFIG_FILES([projects/MatlabTranslation/support/armadillo/fastnumerics.h:projects/MatlabTranslation/support/armadillo/fastnumerics.h])
AC_CONFIG_FILES([projects/MatlabTranslation/support/armadillo/Matrix.h:projects/MatlabTranslation/support/armadillo/Matrix.h])
AC_CONFIG_FILES([projects/MatlabTranslation/support/cxx-stub/builtins.h:projects/MatlabTranslation/support/cxx-stub/builtins.h])
AC_CONFIG_FILES([projects/MatlabTranslation/support/cxx-stub/fastnumerics.h:projects/MatlabTranslation/support/cxx-stub/fastnumerics.h])
AC_CONFIG_FILES([projects/MatlabTranslation/support/cxx-stub/Matrix.h:projects/MatlabTranslation/support/cxx-stub/Matrix.h])
AC_CONFIG_FILES([projects/MatlabTranslation/support/matlab/builtins.m:projects/MatlabTranslation/support/matlab/builtins.m])
AC_CONFIG_FILES([projects/MatlabTranslation/support/blueprint/Makefile.default:projects/MatlabTranslation/support/blueprint/Makefile.default])


AC_ARG_WITH(armadillo,
	[  --with-armadillo[=PATH]   Installation prefix for optional Armadillo library (>= 7.950.0) (for Matlab to C++ translation - requires Matlab frontend enabled).],
	[AC_DEFINE(ROSE_MATLAB_USE_ARMADILLO, 1, [Defined if the Armadillo library is available.])
	 if test "$with_armadillo" = "yes"; then ARMA_PREFIX=/usr; else ARMA_PREFIX="$with_armadillo"; fi],
	[with_armadillo=no])
AC_SUBST(ARMA_PREFIX)
AM_CONDITIONAL(ROSE_MATLAB_USE_ARMADILLO, test "$with_armadillo" != "no")
