dnl List of all makefiles for this project						-*- autoconf -*-
AC_CONFIG_FILES([projects/Rose-To-LLVM/Makefile
		projects/Rose-To-LLVM/src/Makefile
		projects/Rose-To-LLVM/tests/Makefile
		projects/Rose-To-LLVM/src/rosetollvm/Makefile])

AC_MSG_CHECKING([whether Rose-To-LLVM project prerequisites are satisfied])
AC_MSG_RESULT([yes])
rose_enable_project_Rose_To_LLVM=yes

AM_CONDITIONAL([ROSE_ENABLE_PROJECT_Rose_To_LLVM], [test "$rose_enable_project_Rose_To_LLVM" = yes])
