dnl List of all makefiles for this project						-*- autoconf -*-
AC_CONFIG_FILES([projects/typeforge/Makefile
		projects/typeforge/include/Typeforge/Makefile
		projects/typeforge/include/Typeforge/OpNet/Makefile
		projects/typeforge/include/nlohmann/Makefile
		projects/typeforge/lib/Makefile
		projects/typeforge/lib/OpNet/Makefile
		projects/typeforge/src/Makefile
		projects/typeforge/tests/Makefile
		projects/typeforge/docs/Makefile])

AC_MSG_CHECKING([whether typeforge project prerequisites are satisfied])
AC_MSG_RESULT([yes])
rose_enable_project_typeforge=yes

AM_CONDITIONAL([ROSE_ENABLE_PROJECT_TYPEFORGE], [test "$rose_enable_project_typeforge" = yes])
