dnl List of all makefiles for this project              -*- autoconf -*-
AC_CONFIG_FILES(projects/AMReX-Translation/Makefile)

AC_CONFIG_FILES([projects/AMReX-Translation/AmrexF2Cxx.sh:projects/AMReX-Translation/AmrexF2Cxx.sh], [chmod ugo+x projects/AMReX-Translation/AmrexF2Cxx.sh])
AC_CONFIG_FILES([projects/AMReX-Translation/support/include/amrex.hpp:projects/AMReX-Translation/support/include/amrex.hpp])
AC_CONFIG_FILES([projects/AMReX-Translation/support/blueprint/empty_cxx_amrex.cc:projects/AMReX-Translation/support/blueprint/empty_cxx_amrex.cc])


