dnl List of all makefiles for this project							-*- autoconf -*-
AC_CONFIG_FILES(projects/BinaryAnalysisTools/Makefile)

# script files will be copied over to the build directory (PP 11/09/19)
# AC_CONFIG_FILES([projects/BinaryAnalysisTools/rose-execution-monitor-linux-perf-intel-x86_64.sh:projects/BinaryAnalysisTools/rose-execution-monitor-linux-perf-intel-x86_64.sh], [chmod ugo+x projects/BinaryAnalysisTools/rose-execution-monitor-linux-perf-intel-x86_64.sh])

dnl The bROwSE tool depends on Wt (web toolkit)
AC_ARG_WITH(
    [wt],
    AS_HELP_STRING(
        [--with-wt=PREFIX],
        [Use the Wt web toolkit available from https://webtoolkit.eu/wt. The PREFIX, if specified,
	 should be the prefix used to install Wt, such as "/usr/local". The default is the empty prefix,
	 in which case the headers and library must be installed in a place where they will be found.
	 Saying "no" for the prefix is the same as saying "--without-wt".]),
	[AC_DEFINE(ROSE_USE_WT, 1, [Defined if the web toolkit Wt is available.])
	 if test "$with_wt" = "yes"; then WT_PREFIX=/usr; else WT_PREFIX="$with_wt"; fi],
	[with_wt=no])
AC_SUBST(WT_PREFIX)
AM_CONDITIONAL(ROSE_USE_WT, test "$with_wt" != "no")
