body {
    font-family: Arial;
}

.card {
    margin-bottom: 15px;
}

.section {
    padding-top: 65px;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-svg-object {
  vertical-align:middle;
  text-align: center;
}

.svg_zoom_pan {
  height: 600px;
  width: 1500px;
}
