dnl List of all makefiles for this project							-*- autoconf -*-
AC_CONFIG_FILES([projects/CodeProperties/Makefile])

dnl Even if this project is present in ROSE's "projects" directory, we might not have the prerequisites to compile
dnl this project.  Enable the project's makefiles by using the ROSE_ENABLE_projectname automake conditional.
dnl Many prerequisites have probably already been tested by ROSE's main configure script, so we don't need to list
dnl them here again (although it usually doesn't hurt).
AC_MSG_CHECKING([whether CodeProperties project prerequisites are satisfied])
AC_MSG_RESULT([yes])
rose_enable_project_code_properties=yes

AM_CONDITIONAL([ROSE_ENABLE_PROJECT_CODE_PROPERTIES], [test "$rose_enable_project_code_properties" = yes])
