dnl List of all makefiles for this project						-*- autoconf -*-
AC_CONFIG_FILES([projects/scalarization/Makefile
		projects/scalarization/src/Makefile
		projects/scalarization/tests/Makefile])

AC_MSG_CHECKING([whether scalarization project prerequisites are satisfied])
AC_MSG_RESULT([yes])
rose_enable_project_scalarization=yes

AM_CONDITIONAL([ROSE_ENABLE_PROJECT_SCALARIZATION], [test "$rose_enable_project_scalarization" = yes])
