dnl List of all makefiles for this project						-*- autoconf -*-
AC_CONFIG_FILES([projects/backstroke/Makefile
projects/backstroke/eventDetection/Makefile
projects/backstroke/eventDetection/ROSS/Makefile
projects/backstroke/eventDetection/SPEEDES/Makefile
projects/backstroke/normalizations/Makefile
projects/backstroke/slicing/Makefile
projects/backstroke/valueGraph/Makefile
projects/backstroke/valueGraph/headerUnparser/Makefile
projects/backstroke/pluggableReverser/Makefile
projects/backstroke/testCodeGeneration/Makefile
projects/backstroke/restrictedLanguage/Makefile
projects/backstroke/tests/Makefile
projects/backstroke/tests/cfgReverseCodeGenerator/Makefile
projects/backstroke/tests/expNormalizationTest/Makefile
projects/backstroke/tests/pluggableReverserTest/Makefile
projects/backstroke/tests/restrictedLanguageTest/Makefile
projects/backstroke/tests/testCodeBuilderTest/Makefile
projects/backstroke/tests/incrementalInversionTest/Makefile
projects/backstroke/utilities/Makefile
projects/backstroke/sdg/Makefile])

AC_MSG_CHECKING([whether backstroke project prerequisites are satisfied])
AC_MSG_RESULT([yes])
rose_enable_project_backstroke=yes

AM_CONDITIONAL([ROSE_ENABLE_PROJECT_BACKSTROKE], [test "$rose_enable_project_backstroke" = yes])
