# Intermediate results from test_this_build.sh: 
*/testing/*report*.json
*/testing/*report*.txt

# Generated
*/testing/*.dot
*/testing/rose_*.c*

# Temporary
*/testing/ROSE-*.c*
*/testing/ROSE-*.h*
*/testing/ROSE-*settings.sh

# Not to be shared:
*/testing/TESTING_STATUS*.txt

