dnl List of all makefiles for this project							-*- autoconf -*-
AC_CONFIG_FILES(projects/RTC2/Makefile)
AC_CONFIG_FILES(projects/RTC2/src/Makefile)
AC_CONFIG_FILES(projects/RTC2/tests/Makefile)

AC_CONFIG_FILES([projects/RTC2/tests/chk.sh:projects/RTC2/tests/chk.sh], [chmod ugo+x projects/RTC2/tests/chk.sh])
