dnl List of all makefiles for this project						-*- autoconf -*-
AC_CONFIG_FILES([projects/backstroke2/Makefile
		projects/backstroke2/src/Makefile
		projects/backstroke2/tests/Makefile])

AC_MSG_CHECKING([whether backstroke2 project prerequisites are satisfied])
AC_MSG_RESULT([yes])
rose_enable_project_backstroke2=yes

AM_CONDITIONAL([ROSE_ENABLE_PROJECT_BACKSTROKE2], [test "$rose_enable_project_backstroke2" = yes])
